{% extends 'main.html' %}

{% block content %}



<h1>Forums</h1>
<!--For the mobile screen-->
<div class="mobile-topic"></div>
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="{% url 'home' %}">All</a>
                {% for topic in topics%}
                <div>
                    <a href="{% url 'home'%}?r={{topic.name}}">{{topic.name}}</a>
                </div>
                {% endfor %}
                
                <a href="{% url 'create-room' %}">Create Room</a>
                
            </div>
    </div>
</div>
<!--End the mobile screen-->

<div class="home-wrapper">
    <div class="create-room-wrapper">
        <a href="{% url 'create-room' %}">Create Room</a>
    </div>
    <!--Feed -->
    <div class="feed-container">
        {% for room in rooms %}
            <div class="zoom">
                <div class="feed-wrapper">
                        <large>{{ room.topic.name }}</large>
                        <br>
                        <a href="{% url 'user-page' room.host.id %}">@{{ room.host.username }}</a>
                        <h5>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
                        <br>
                        <a href="{% url 'update-room' room.id %}">Edit</a>
                        <a class="delet-btn" href="{% url 'delete-room' room.id %}">Delete</a>
                        <br>
                </div>
            </div>
        {% endfor %}
    </div>
    <!--End Feed-->
    <!--Topic-->
    <div class="topic-wrapper">
        <h3>Topics</h3>   
        <hr> 
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics%}
            <div>
                <a href="{% url 'home'%}?r={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>
    <!--End Topic-->
</div>


{% endblock content %}
