{% extends 'main.html' %}

{% block content %}
<div class="reg-wrapper">
    {% if page == 'login' %}
    <div>
        <div>
            <!--Log in -->
            <form method="POST" action="">
                {% csrf_token %}
                <label for="">Username:</label>
                <input type="text" name="username" placeholder="Enter Username"/>

                <label for="">Password:</label>
                <input type="password" name="password" placeholder="Enter Password"/>

                <input type="submit" value="Login"/>
            </form>
            <p>Havent register yet?</p>
            <a href="{% url 'register' %}">Register</a>
        </div>
        <!--End Log in -->
        {% else %}
        <!--Register -->
        <div>
            <form method="POST" action="">
                {% csrf_token %}
                {{form.as_p}}

                <input type="submit" value="Register"/>
            </form>
            <p>Already register?</p>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
    <!--End Register -->
    {% endif %}

</div>
{% endblock content %}