{% extends 'main.html' %}

{% block content %}


<div class="room-wrapper">
    <div class="user-wrapper">
        <h4>Users</h4>
        <hr>
        {% for user in participants %}
            <div>
                <p><a href="{% url 'user-page' user.id %}">@ {{ user.username }}</a></p>
            </div>
        {% endfor %}
    </div>
    <div>
        <h1>{{room.name}}</h1>
        <h6>{{ room.description }}</h6>
        
        <div class="comment-container">
            {% for message in roommessages %}
            <div class="feed-wrapper">
                <small><a href="{% url 'user-page' message.user.id %}">@{{message.user}}</a>  {{message.created|timesince}} ago</small>
                <p>{{ message.body }}</p>
                <a href="{% url 'delete-message' message.id %}">Delete</a>
                <hr>
            </div>
            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="comment-form-wrapper">
            <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="body" placeholder="write your messages here!!"/>
            </form>
        </div>
        {% endif %}
    </div>
    <div class="topic-wrapper">
        <h3>Topics</h3>   
        <hr> 
        <div>
            <a href="{% url 'home' %}">All</a>
        </div>
        {% for topic in topics%}
            <div>
                <a href="{% url 'home'%}?r={{topic.name}}">{{topic.name}}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}